
footer{
    width: 100%;
    background: linear-gradient(to right, #2b2d30, rgba(89, 155, 175, 0.27));
    color: #fff;
    padding: 60px 0 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0;
}

.row{
    width: 85%;
    margin: auto;
    display: flex; <%-- questo rende il posizionamento dei blocchi figli flessibile %-->
    flex-wrap: wrap; <%-- Quando imposti flex-wrap: wrap;, stai dicendo al contenitore flexbox che i suoi elementi figlio possono andare su più righe, se lo spazio nella riga principale non è sufficiente per contenerli tutti. --%>
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.col:nth-child(2), .col:nth-child(3), .col:nth-child(4){
    flex-basis: 15%;
}

.links{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.ls{
    color: white;
    text-decoration: none;
}

.ls:hover{
    color: black;
}

.logo{
    width: 88px;
    margin-bottom: 30px;
}

.col h3{
    /*width: fit-content;*/
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    margin: 20px 0;
    color:white;
}

.footer-social .social-icons{
    list-style: none;
    margin-bottom: 10px ;
}

.footer-social a{
    text-decoration: none;
    color: #fff;
}

.footer-social .image{
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
}

/* Stili responsivi */
@media (max-width: 576px) {  /* Media query per schermi con larghezza massima di 576px */
    .row {
        flex-direction: column;  /* Dispone i blocchi figli in una colonna invece che in una riga */
        align-items: center;     /* Allinea gli elementi al centro della colonna */
    }

    .col {
        flex-basis: 100%;        /* Imposta la larghezza delle colonne al 100% del contenitore */
        margin-bottom: 20px;     /* Aggiunge uno spazio inferiore tra le colonne */
    }

    .col:nth-child(2), .col:nth-child(3), .col:nth-child(4) {
        flex-basis: 100%;        /* Imposta la larghezza delle colonne specifiche al 100% del contenitore */
    }

    .footer-social .social-icons {
        display: flex;           /* Imposta il layout dei social icons su flexbox */
        justify-content: center; /* Centra i social icons orizzontalmente */
    }

    .footer-social .image {
        margin-right: 5px;       /* Riduce il margine destro delle icone per ridurre lo spazio tra di loro */
    }
}