header {
    text-align: center;
    padding-bottom: 5px;
}

.container {
    display: flex;
    justify-content: space-between; /* Distribuisce spazio tra elementi */
    align-items: center; /* Allinea gli elementi al centro verticalmente */
    margin-top: 2px;
    padding: 0 20px; /* Aggiunge un po' di spazio ai lati */
}

.container .icons {
    display: flex;
    gap: 10px; /* Spazio tra le icone */
}

.icons-and-menu {
    display: flex;
    align-items: center; /* Allinea il pulsante del menu e le icone sulla stessa linea */
}



.search-bar{
    margin-top: 10px;
    margin-right: 20px;
    background-color: lightgray;
    border-radius: 40px;
    padding: 13px 100px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.search-bar input[type="search"]{
    width: 400px;
    padding-top: 3px;
    border: none;
    outline: none;
    background:transparent;
    font-size: 20px;
    color: black;
}
.container .image {
    display: inline-block; /* Imposta le immagini come blocchi inline */
    margin-right: 20px;
}

.container a {
    text-decoration: none;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover:not(.active) {
    background-color: #000000;
}

.active {
    background-color: #427b8a;
}

.menu-toggle {
    background: transparent; /* Imposta lo sfondo trasparente */
    border: none; /* Rimuove eventuali bordi */
    cursor: pointer; /* Cambia il cursore quando si passa sopra */
}


/* Media Queries per rendere l'header responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambia la direzione degli elementi a colonna */
        align-items: flex-start; /* Allinea gli elementi all'inizio */
    }

    .search-bar {
        flex-grow: 1;
        width: 100%; /* La barra di ricerca occupa tutta la larghezza disponibile */
        margin-bottom: 10px; /* Spazio sotto la barra di ricerca */
    }

    .search-bar input[type="search"] {
        width: 100%; /* La barra di ricerca occupa tutta la larghezza */
        font-size: 16px; /* Riduce la dimensione del font */
    }

    .icons-and-menu {
        width: 100%;
        justify-content: space-between; /* Distribuisce spazio tra elementi */
    }

    .icons {
        margin-left: auto; /* Sposta le icone a destra */
        gap: 10px; /* Spazio tra le icone */
    }

    header ul {
        display: none; /* Nasconde il menu di navigazione */
        width: 100%;
        flex-direction: column;
    }

    header ul.show {
        display: flex; /* Mostra il menu di navigazione quando il pulsante è cliccato */
    }

    header ul li {
        width: 100%;
        text-align: left;
    }

    header li {
        float: none; /* Rimuove il galleggiamento per gli elementi della lista */
    }
}

@media (max-width: 480px) {
    .search-bar input[type="search"] {
        font-size: 14px; /* Riduce ulteriormente la dimensione del font */
    }

    .icons a img {
        width: 20px; /* Riduce la dimensione delle icone */
        height: 20px; /* Riduce la dimensione delle icone */
    }
}

/* Nascondi il pulsante del menu a discesa su schermi grandi */
@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}
@media (max-width: 578px) {
    .search-bar{
        padding: 13px 50px;
    }
}



