.header {
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between; /* Distribuisce spazio tra elementi */
    align-items: center; /* Allinea gli elementi al centro verticalmente */
    margin-top: 2px;
    padding: 0 20px; /* Aggiunge un po' di spazio ai lati */
}

.container .icons {
    display: flex;
    gap: 10px; /* Spazio tra le icone */
}

.search-bar{
    margin-top: 10px;
    margin-right: 20px;
    background-color: lightgray;
    border-radius: 40px;
    padding: 13px 100px;
}
.search-bar input[type="search"]{
    width: 400px;
    padding-top: 3px;
    border: none;
    outline: none;
    background:transparent;
    font-size: 20px;
    color: black;
}
.container .image {
    display: inline-block; /* Imposta le immagini come blocchi inline */
    margin-right: 20px;
}

.container a {
    text-decoration: none;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}



