* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}
.container {
    text-align: right; /* Allinea il contenitore a destra */
    margin-right: 20px;
}

.container .image {
    display: inline-block; /* Imposta le immagini come blocchi inline */
    margin-right: 20px;
}

.spaced-image{
    margin-right: 25px;
}

.container a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}



