.griglia {
    display: grid; /*griglia */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Colonne con larghezza minima di 250px */
    /*grid-template-columns: repeat(auto-fill, 300px); /*Colonne con larghezza fissa di 300px */
    gap: 50px; /* Spazio tra i libri */
    padding: 20px;
    margin-left:80px ;
    justify-content: center; /* Centra la griglia orizzontalmente */

}

.item {
    background-color: white;
    padding: 10px;
    text-align: center;
}
.img {
    width: 230px;
    height: 310px;
    box-shadow: -15px 0px 10px #9c9c9c; /* il 1° valore aggiunge l'ombra a sinistra o destra,
                                           il 2° la aggiunge sopra o sotto, il 3° è la dimensione dell'ombra */
}
.azioni {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.titolo {
    font-weight: bold;
}
.autori {
    color: #a2a3a8;
}

/* Media Queries per schermi più piccoli */
@media (max-width: 1024px) {
    .griglia {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Colonne con larghezza minima di 200px */
    }
    .img {
        width: 200px; /* Riduci la larghezza dell'immagine */
        height: 270px; /* Riduci l'altezza dell'immagine */
    }
}

@media (max-width: 768px) {
    .griglia {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Colonne con larghezza minima di 150px */
    }
    .img {
        width: 150px; /* Riduci ulteriormente la larghezza dell'immagine */
        height: 210px; /* Riduci ulteriormente l'altezza dell'immagine */
    }
}

@media (max-width: 480px) {
    .griglia {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Colonne con larghezza minima di 100px */
        gap: 20px; /* Riduci lo spazio tra i libri */
    }
    .img {
        width: 100px; /* Riduci ulteriormente la larghezza dell'immagine */
        height: 140px; /* Riduci ulteriormente l'altezza dell'immagine */
    }
}
/*
 Media Queries per schermi più piccoli
@media (max-width: 1024px) {
    .item {
        width: calc(33.33% - 32px);  /*Regola per avere 3 colonne
    }
}

@media (max-width: 768px) {
    .item {
        width: calc(50% - 32px); /* Regola per avere 2 colonne
    }
}

@media (max-width: 480px) {
    .item {
        width: calc(100% - 32px); /* Regola per avere 1 colonna
    }
}*/
