/* Imposta il font di base per il corpo della pagina */
body {
    font-family: Arial, sans-serif;
}

/* Stile del contenitore principale del libro */
.book-container {
    width: 70%; /* Larghezza del contenitore: 60% della larghezza della finestra */
    margin: 0 auto; /* Centra il contenitore orizzontalmente */
    padding: 20px; /* Padding interno di 20px */
    border: 1px solid #ddd; /* Bordo grigio chiaro */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Ombra leggera attorno al contenitore */
    border-radius: 8px; /* Angoli arrotondati */
    background-color: #fff; /* Sfondo bianco */
}

/* Stile per la sezione dettagli del libro */
.book-details {
    display: flex; /* Utilizza il layout flexbox */
    align-items: flex-start; /* Allinea gli elementi all'inizio verticalmente */
    margin: 10px;
}

/* Stile per la sezione immagine del libro */
.book-image {
    flex: 1; /* Occupa una parte del contenitore, in proporzione al .book-info */
    padding-right: 20px; /* Spazio a destra di 20px */
}

/* Stile per l'immagine del libro */
.book-image img {
    margin-left: 30px;
    max-width: 80%; /* L'immagine occupa la larghezza massima del contenitore, mantenendo le proporzioni */
    border-radius: 8px; /* Angoli arrotondati per l'immagine */
}

/* Stile per la sezione informazioni del libro */
.book-info {
    flex: 2;
    margin: 20px;
}

/* Stile per i paragrafi all'interno di .book-info */
.book-info p {
    margin: 10px;
}

/* Stile per il prezzo originale del libro */
.book-info .original-price {
    text-decoration: line-through; /* Linea attraverso il testo per indicare il prezzo scontato */
    color: #888; /* Colore grigio */
}

.book-info .prezzo {
    font-size: 1.2em; /* Dimensione del font leggermente più grande */
    font-weight: bold; /* Testo in grassetto */
    color: #000000; /* Colore nero */
}

/* Stile per il prezzo scontato del libro */
.book-info .discounted-price {
    color: #d32f2f; /* Colore rosso scuro */
    font-size: 1.2em; /* Dimensione del font leggermente più grande */
    font-weight: bold; /* Testo in grassetto */
}

/* Stile per la disponibilità del libro */
.book-info .available {
    color: green; /* Colore verde */
    font-weight: bold; /* Testo in grassetto */
}

.book-info .not-available {
    color: red; /* Colore verde */
    font-weight: bold; /* Testo in grassetto */
}

/* Stile per il pulsante "Aggiungi al carrello" */
.add-to-cart {
    font-size: 15px;
    background-color: #427b8a; /* Sfondo verde */
    color: white; /* Testo bianco */
    padding: 10px 20px; /* Padding interno */
    border: none; /* Nessun bordo */
    border-radius: 5px; /* Angoli arrotondati */
    cursor: pointer; /* Puntatore del mouse a forma di mano */
}

/* Stile per il pulsante "Aggiungi al carrello" quando è in hover */
.add-to-cart:hover {
    background-color: #356876; /* Sfondo verde più scuro */
}

/* Stile per i punti Effe */
.points {
    color: #888; /* Colore grigio */
}

/* Stile per i link all'interno di .book-info */
.book-info a {
    color: #d32f2f; /* Colore rosso scuro */
    text-decoration: none; /* Nessuna sottolineatura */
}

/* Stile per i link all'interno di .book-info quando sono in hover */
.book-info a:hover {
    text-decoration: underline; /* Sottolineatura al passaggio del mouse */
}



/* Stile per i link di navigazione */
.nav-tabs {
    margin-top: 30px;
    display: flex; /* Disposizione dei link in linea */
    justify-content: flex-start; /* Allineamento a sinistra */
    margin-bottom: 20px; /* Spazio sotto i link */
    border-bottom: 1px solid #ddd; /* Bordo inferiore */
}

.nav-tabs .nav-link {
    margin-right: 20px; /* Spazio a destra di ogni link */
    padding-bottom: 5px; /* Padding inferiore */
    color: grey; /* Colore del testo */
    text-decoration: none; /* Nessuna sottolineatura */
    font-weight: bold; /* Testo in grassetto */
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
    color: red; /* Colore rosso per il link attivo o al passaggio del mouse */
    border-bottom: 2px solid red; /* Bordo inferiore rosso */
}

/* Stile per la nuova sezione descrittiva e dei dettagli del libro */
.book-description-details {
    margin-top: 20px; /* Spazio sopra la nuova sezione */
    padding: 20px; /* Padding interno */
    border-top: 1px solid #ddd; /* Bordo superiore per separare dalla sezione sopra */

    overflow: visible;/* Assicura che il contenuto sia visibile */
}

/* Stile per il titolo della descrizione */
.book-description-details h2 {
    font-size: 1.5em; /* Dimensione del font */
    color: #333; /* Colore del testo */
    margin-bottom: 10px; /* Spazio sotto il titolo */
}

/* Stile per il paragrafo della descrizione */
.book-description-details p {
    font-size: 1em; /* Dimensione del font */
    color: #555; /* Colore del testo */
    line-height: 1.5; /* Altezza della linea */
    margin-bottom: 20px; /* Spazio sotto il paragrafo */
}

/* Stile per il titolo dei dettagli */
.book-description-details h3 {
    font-size: 1.3em; /* Dimensione del font */
    color: #333; /* Colore del testo */
    margin-bottom: 10px; /* Spazio sotto il titolo */
}

/* Stile per la lista dei dettagli */
.book-description-details ul {
    list-style-type: none; /* Rimuove i punti elenco */
    padding: 0; /* Rimuove il padding */
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Stile per ogni elemento della lista dei dettagli */
.book-description-details ul li {
    font-size: 1em; /* Dimensione del font */
    color: #555; /* Colore del testo */
    line-height: 1.5; /* Altezza della linea */
    margin-bottom: 5px; /* Spazio sotto ogni elemento */
}

/* Stile per le etichette degli elementi della lista */
.book-description-details ul li span.label {
    font-weight: bold; /* Testo in grassetto */
    color: #333; /* Colore del testo */
}

/* Esempio di stile per una chiave specifica dei dettagli */
.book-description-details ul li span.value {
    color: #888; /* Colore grigio per i valori */
}

/* Stile per i dettagli del libro quando lo schermo è ridotto */
@media (max-width: 768px) {
    .book-description-details ul {
        display: block; /* Assicura che gli elementi siano ancora visibili */
    }
}
