/* Contenitore principale che contiene sia l'immagine che il menu a tendina */
.reparto {
    position: relative; /* Crea un contesto di posizionamento per gli elementi assoluti figli */
    display: inline-block; /* Imposta il contenitore come un blocco in linea */
}

/* Stile per l'immagine di sfondo */
.imgReparto {
    width: 1500px; /* Imposta la larghezza dell'immagine al 100% del contenitore */
    height: 400px;
    display: block; /* Imposta l'immagine come un blocco */
}

/* Contenitore del menu a tendina */
.dropdown-container {
    position: absolute; /* Posiziona assolutamente il menu a tendina sopra l'immagine */
    top: 150px; /* Posiziona il menu a 200 pixel dall'alto del contenitore */
    width: 100%; /* Assicura che il contenitore copra l'intera larghezza dell'immagine */
    display: flex; /* Usa il flexbox per centrare il menu a tendina */
    justify-content: center; /* Centra il menu a tendina orizzontalmente */
    align-items: center; /* Centra il menu a tendina verticalmente */
}

.descrizione{
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 18px;
    line-height: 1.6; /* interlinea */
    color: #444;
    Padding: 30px;
    margin-left: 500px;
    margin-right: 500px;
}

/* Stile per il menu a tendina */
.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.3); /* Colore di sfondo bianco trasparente */
    border: 1px solid #ccc; /* Bordo grigio chiaro */
    padding: 10px; /* Padding interno del menu */
    font-size: 16px; /* Dimensione del font del menu */
    color: #000; /* Colore del testo nero */
    outline: none; /* Rimuove il bordo di focus predefinito */
}